@{
ViewBag.Title = "Sign In";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-signin {
        padding: 250px;
    }
</style>

<div class="form-signin">
    <h2 class="text-center">Please Sign In</h2>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
    <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <div class="register-link">
        <a href="@Url.Action("Register", "Account")">Register New Account</a>
    </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
    }
</div>
